---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Become a Captain";
const currentPage = "become-captain";
---

<Layout {title} {currentPage}>
   <PageHeader pageNumber="03" heading="Become\na captain" />
 <PageContainer>
   <SectionIntro
    text="Communication is essential to keeping Mikkeller Running Club connected and thriving. Through clear and consistent updates, captains help members feel informed, welcomed, and part of the global MRC community."
  />

  <div class="pink_box">
  <h2>What does a captain do?</h2>
  <div class="two-columns">
    <p>
     Being a captain, you’re responsible for organizing runs and events — from weekly trainings to First Saturdays. You decide on routes, paces, and distances, making sure there’s something for everyone to enjoy. Being present and reliable is key; captains show up week after week, and if you can’t make it, you make sure someone else can step in. <br><br>A big part of the role is welcoming newcomers — greeting people, introducing them to the group, and ensuring they feel included from the very first run.
    </p>
    
    <p>
     You also help create a sense of community by encouraging runners to hang out after the run, grab a beer, and connect. Clear communication is essential, so keep your chapter’s Facebook, Instagram, or app page updated with event details, photos, and news. And finally, support local initiatives — if a member wants to arrange a special run, cheering zone, or social event, you help make it happen and keep the MRC spirit alive.
    </p>
  </div>
  </div>




<div class="two-columns">

<div>
  <h2>becoming a captain</h2>
  <p>The role of captain is not for life – it’s for the time you have energy and passion to contribute. You can always step down and return later if it fits your life better. Many chapters benefit from having several captains to share the responsibility. If someone in your chapter wants to step up, welcome them in and see what they can bring.<br><br>Can they commit to leading a weekly group?Will they be present for First Saturdays?Do they bring new energy or ideas for the community?<br><br>The most important thing is that captains keep the spirit of MRC alive: 
    Run together, drink together, and make everyone feel part of the community.
  </p>



<h2>what do get as a captain</h2>
<p>Access to the MRC captains’ network, including monthly online calls for sharing inspiration. <br><br>A special captain’s card in the app with 30% discount at all Mikkeller Bars. <br>Direct updates, info, and support from the president and MRC HQ <br><br>NOTE <br><br>
Discount and other captains benefit can not be shared with other people, and if misuse is discovered, captain privilege will be withdrawn from the captain. 
</p>

<h2>main communication for captains</h2>
<p>Captains receive important updates through several channels. The main communication platform is the captain email list, where all key news and information from Mikkeller Running Club are shared.  To be added to this list, simply send an email to mrc@mikkeller.com <br><br>In addition to the email updates, captains can also receive news directly in the MRC app. If your Captain Card is activated in the app, you will automatically see the latest updates and announcements when they are published. <br><br>Finally, all captains are invited to join the international Mikkeller Running Club Captains Facebook group. This space is used for sharing experiences, asking questions, and staying connected with the global captain community.</p>

<img class="control" src="/img/highfive-figur.png" alt="highfive figur">

</div>
  


<div>
 <img src="/img/run-figur.png" alt="running feets figur">
  
  <h2>weekly trainings</h2>
  <p>Besides First Saturday, we also recommend you have some weekly training. This can be very different depending on how often, how much and how long you run. In Copenhagen there is training every day with several teams, but in other chapters there is one team once a week - which is also great. It's simply a way to meet, and we suggest you do not organize more than what your local captains can ensure to arrange. <br><br>The important thing is that you ensure everyone is welcome and we therefore recommend to have a team where “slowest runner sets the pace” or as they say in MRC Tbilisi: “Sexy pace” <br><br>If you want, you can also arrange interval training, RaceWalk training or whatever you have on your mind. Experience shows that the more diversified training you do, the more people will join. Most chapters meet at 11:00, but the time can be adjusted to fit your local community. </p>


<img src="/img/pictures.gif" alt="MRC flag gif" class="pictures-gif" />


</div>
  
</div>
  
</PageContainer>

</Layout>

<style>
 img {
  max-width: 20%;
  margin: 6rem auto 0; /* top 10rem, auto på venstre og højre = centreret */
  display: block;       /* vigtigt, ellers virker auto margin ikke */
}

.control img {
  max-width: 0%;
  margin: 2rem auto 0; /* top 10rem, auto på venstre og højre = centreret */
  display: block;       /* vigtigt, ellers virker auto margin ikke */
}


.pictures-gif {
  max-width: 80%;      /* eller 100%, tilpas efter behov */
  display: block;
  margin: 0 0 2rem auto; /* auto på venstre = rykker til højre side */
}
</style>