---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Become a Captain";
const currentPage = "become-captain";
---

<Layout {title} {currentPage}>
   <PageHeader pageNumber="03" heading="Become\na captain" />
 <PageContainer>
   <SectionIntro
    text="Communication is essential to keeping Mikkeller Running Club connected and thriving. Through clear and consistent updates, captains help members feel informed, welcomed, and part of the global MRC community."
  />
</PageContainer>
<div class="pink_box">
<h2>Become a Captain</h2>
<div class="two-columns">
    <p>
      Mikkeller Running Club started a long time ago. On an October autumn day in 2014, in Copenhagen, Mikkel, the founder of Mikkeller, met up with friends to loose some of the beer weight and to enjoy a post-run beer. <br> <br>The week after more people joined, and the week after even more. This has now developed into a international community with more than 100 chapters all around the world. A community that now meets every first Saturday, for beer festivals and travel together.<br><br> In Mikkeller Running Club, we have one president – and her role is to support you. The president is the person to reach out to if you have questions, need help, or face disputes. Her ruling is final – but don’t worry, she’s extremely helpful.

    </p>

    <p>
      Our president, Helle, has been running with MRC since the club’s very second run back in 2014. She spends much of her time traveling to visit chapters, making sure captains and members feel connected, and working to secure benefits for the community such as bib deals, access to Mikkeller festivals, and more. Helle also hosts a monthly captains’ meeting, where leaders from around the world can join, hear MRC updates, and connect with other chapters. <br><br>The best chance to meet Helle in person is at Warpigs on Wednesdays, where she captains the I Wish Team. You can also reach Helle by mail mrc@mikkeller.com
    </p>
  </div>
</div>

</Layout>