---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Become a Captain";
const currentPage = "become-captain";
---

<Layout {title} {currentPage}>
   <PageHeader pageNumber="03" heading="Become\na captain" />
 <PageContainer>
   <SectionIntro
    text="Communication is essential to keeping Mikkeller Running Club connected and thriving. Through clear and consistent updates, captains help members feel informed, welcomed, and part of the global MRC community."
  />

  <div class="pink_box">
  <h2>What does a captain do?</h2>
  <div class="two-columns">
    <p>
     Being a captain, you’re responsible for organizing runs and events — from weekly trainings to First Saturdays. You decide on routes, paces, and distances, making sure there’s something for everyone to enjoy. Being present and reliable is key; captains show up week after week, and if you can’t make it, you make sure someone else can step in. <br><br>A big part of the role is welcoming newcomers — greeting people, introducing them to the group, and ensuring they feel included from the very first run.
    </p>
    
    <p>
     You also help create a sense of community by encouraging runners to hang out after the run, grab a beer, and connect. Clear communication is essential, so keep your chapter’s Facebook, Instagram, or app page updated with event details, photos, and news. And finally, support local initiatives — if a member wants to arrange a special run, cheering zone, or social event, you help make it happen and keep the MRC spirit alive.
    </p>
  </div>
  </div>
</PageContainer>

</Layout>