---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Colours";
const currentPage = "colours";
---

<Layout {title} {currentPage}>
   <PageHeader pageNumber="07" heading="colours" />
  <PageContainer>
   <SectionIntro
    text="Colours is a vital part of the Mikkeller identity, shaping how our brand and community come to life. Through our palette, we create consistency, express our playful energy, and ensure that every chapter feels distinctly MRC. Each color is carefully selected to represent who we are."
  />


<div class="colours-header">
  <h2 class="colours-title">Colour Palette</h2>

  <p class="colours-text">
    Below are codes for our signature colors used for print and graphics.
    Primary colors are used for colored text and backgrounds. For example
    to compliment black/white or black/paper. Secondary and tertiary colors
    are typically used as accents and for more colorful and less formal
    contexts.
  </p>
</div>

<div class="colour-grid">
  <div class="colour-card colour-card--primary">
    <span class="colour-card__label">Primary</span>
    <p class="colour-card__body">
      BLUE<br />
      HEX #214082<br />
      CMYK 100/87/18/5
    </p>
  </div>

  <div class="colour-card colour-card--secondary">
    <span class="colour-card__label">Secondary</span>
    <p class="colour-card__body">
      LAVENDER<br />
      HEX #d6b3d5<br />
      CMYK 13/32/0/0
    </p>
  </div>

  <div class="colour-card colour-card--tertiary">
    <span class="colour-card__label">Tertiary</span>
    <p class="colour-card__body">
      LIGHT GREEN<br />
      HEX #badeb9<br />
      CMYK 28/0/34/0
    </p>
  </div>
</div>
</PageContainer>
  


</Layout>