---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Communcation";
const currentPage = "communication";
---

<Layout {title} {currentPage}>
   <PageHeader pageNumber="12" heading="Communication" />
    <PageContainer>
   <SectionIntro
    text="Communication is essential to keeping Mikkeller Running Club connected and thriving. Through clear and consistent updates, captains help members feel informed, welcomed, and part of the global MRC community."
  />
 <img
          src="/img/mrc.app.svg"
          alt="Mrc App Logo"
        />

  <h2>Legal rules for Content related to Mikkeller Running Club</h2>
<div>
    <p>
Mikkeller Running Club is all about running, social connections, and a shared passion for beer. To stay true to these values, Mikkeller Running Club aims to remain focused solely on these purposes. Mikkeller Running Club (MRC) undertakes never to use the Mikkeller Marks Portfolio, Mikkeller's EU Marks Portfolio, and/or the Mikkeller Brand in the following contexts when communicating on social media or any other public platform.
    </p>
</div>
</PageContainer>



</Layout>