---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Communcation";
const currentPage = "communication";
---

<Layout {title} {currentPage}>
   <PageHeader pageNumber="12" heading="Communication" />
    <PageContainer>
   <SectionIntro
    text="Communication is essential to keeping Mikkeller Running Club connected and thriving. Through clear and consistent updates, captains help members feel informed, welcomed, and part of the global MRC community."
  />



  <div class="grey_box">
  <h2>MRC app</h2>
  <div class="two-columns">
    <p>
     The Mikkeller Running Club app is the digital home for our global community. It’s where runners, captains, and chapters stay connected – across cities, countries, and time zones. The purpose of the app is simple: to make it easy to find your local runs, discover other chapters when you travel, and keep MRC traditions alive everywhere. <br><br>Through the MRC app, you can explore chapters all around the world and discover where you can join runs across the globe. The app also keeps you updated on upcoming runs and events — from First Saturdays to weekly trainings and special occasions. <br><br>Your digital membership card is always at hand, giving you access to MRC benefits such as discounts at Mikkeller bars. Beyond the practical features, the app is also a source of inspiration, where you can see photos, news, and updates from other chapters and get a real sense of the global MRC spirit.
    </p>
    
    <p>
   Captains have the responsibility to keep all chapter information updated and accurate in the app. Keeping your chapter information fresh ensures that both local members and visiting runners feel welcome and informed. This includes things like training times and meeting points, photos and updates from recent runs, local events, and any news related to the chapter. It’s a space where members can stay informed, share experiences, and keep the community spirit alive. <br><br>All of this can be managed through the APP platform: <span class="bold-text">mikkeller.myloyal.com</span>  (If you can’t log in, please contact: appsupport@mikkeller.com)

    </p>
  </div>
  </div>


  <div class="pink_box">
  <h2>Legal rules for Content related to Mikkeller Running Club</h2>
  <p class="custom-p">Mikkeller Running Club is all about running, social connections, and a shared passion for beer. To stay true to these values, Mikkeller Running Club aims to remain focused solely on these purposes. Mikkeller Running Club (MRC) undertakes never to use the Mikkeller Marks Portfolio, Mikkeller's EU Marks Portfolio, and/or the Mikkeller Brand in the following contexts when communicating on social media or any other public platform:</p>

  <div class="two-columns">
    <div>
    <p>
      <span class="bold-text">Politics</span> 
 <br>MRC may not use the brand in a controversial political context. <br><br>
 <span class="bold-text">Religion </span> <br>
MRC may not use the brand in a controversial manner with regard to religion or
religious issues, beliefs, or conflicts, including in any manner that could reasonably be seen
as negative towards a particular religion or belief. Celebration of religious holidays such as
Easter and Christmas is allowed. <br><br>
  <span class="bold-text">War & Guns</span><br>
MRC may not encourage, cheer, or celebrate war. For the avoidance of
doubt, Mikkeller may collaborate with civilians in war zones (e.g., a collaboration with a
Ukrainian brewery) and support recognized NGOs doing humanitarian work in war zones,
e.g., by doing collaborations or campaigns where proceeds are donated to organizations
such as the Red Cross and Doctors Without Borders. MRC may never show weapons or
guns in any advertising or social media content. <br><br>

<span class="bold-text">Sex</span> <br>
MRC may not collaborate with the porn industry or share direct messaging containing
sexually explicit content. <br><br>

<span class="bold-text">Tobacco</span> <br>
MRC may not collaborate with the tobacco industry. Tobacco may appear
incidentally in MRC social media content as long as it is not the primary focus (e.g.,
someone smoking a cigarette in a group photo). <br><br>

<span class="bold-text">Narcotics</span> <br>
MRC may not collaborate with companies involved in illegal substances or
share messaging containing illegal substances.
    </p>
    </div>
    <div>
    
    <p>
    <span class="bold-text">Underage Drinking</span> <br>
MRC may not share any messaging that includes consumption of
alcoholic beverages by individuals under the age of 25. <br><br>


    <span class="bold-text">Binge Drinking</span> <br>
MRC may not glorify or promote unhealthy binge drinking, including
vomiting, irresponsible behavior, or other clear signs of excessive alcohol consumption. For
the avoidance of doubt, Mikkeller may continue to promote responsible beer-related
activities, such as beer tastings or events like the Christmas calendar featuring 24 beers. <br><br>

    <span class="bold-text">Aggressive or Violent Behavior</span> <br>
MRC may not share any messaging that includes
activities that could cause harm to individuals. However, MRC may organize running events
that involve physically demanding challenges, provided they promote positive competition
and sportsmanship. <br><br>

 <span class="bold-text">Imminent Danger</span> <br>
MRC may not engage in marketing or communication that promotes
activities posing an imminent danger to people. <br><br>

<span class="bold-text">Gambling</span> <br>
MRC may not collaborate with gambling companies or sponsor
gambling-related events. <br><br>


<span class="bold-text">Minorities</span> <br>
MRC may not engage in marketing or communication that singles out minorities
in a negative manner. <br><br>

MRC is committed to upholding Mikkeller’s brand values, ensuring all communications align
with the inclusive, responsible, and community-driven identity of Mikkeller.
    </p>
    </div>
  </div>
  </div>
</PageContainer>
</Layout>

<style>

.pink_box {
  margin-bottom: -4rem;
}

</style>