---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Events";
const currentPage = "events";
---

<Layout {title} {currentPage}>
  <PageHeader pageNumber="11" heading="Events" />
   <PageContainer>
   <SectionIntro
    text="Events bring the global Mikkeller Running Club community together — from weekly trainings and local traditions to international tours. Whether it’s a First Saturday run or a trip across the world, our events keep the MRC spirit alive everywhere."
  />


<section class="section space-96 ">
<div class="two-columns">
<div>
  <h2>Arrange Your Own Event</h2>
  <p>Any chapter can arrange an event — big or small. It could be a themed run, a special meetup, a social event, or a visit from another chapter.Just send us the date, time, location, and short description, and we’ll help share it with the global community.
  </p>

  <img src="/img/check-figur.png" alt="check figur">
  
</div>



<div>
  <img class="control space-96" src="/img/highfive-figur.png" alt="highfive figur">
  <h2>Clubhouse</h2>
  <p>Every chapter needs a meeting point — or as we call it, a clubhouse. If there isn’t a Mikkeller Bar nearby, many chapters partner with a local bar for storage, meeting space, and post-run beers. <br><br>Please let us know where your clubhouse is located, so we can help ensure they have Mikkeller Beer ready for your next run. </p>
</div>

</div>
</section>

<section class="section space-96">
  <div class="pink_box">
  <h2>First Saturdays</h2>
  <div class="two-columns">
    <p>
     First Saturday is the core tradition of Mikkeller Running Club. On the first Saturday of every month, chapters all around the world meet at their clubhouse, go for a run, and share a beer together afterwards. It’s the ritual that connects our global community. Whether you’re in Copenhagen, Tokyo, Tbilisi or Liverpool, you know that runners across the world are doing the same thing on the same day.Most chapters meet at 11:00, but the time can be adjusted to fit your local community. <br><br>What matters is consistency: That it happens on the first Saturday of every month. <br><br>To make First Saturday welcoming for everyone, we recommend offering runs at different paces and distances. That way, beginners, seasoned runners, and everyone in between can join and enjoy.
    </p>
    
    <p>
     Many chapters like to make First Saturday extra fun by creating special themed runs. In Copenhagen, for example, they have Halloween, Christmas, and anniversary themes, but the theme can be anything your chapter comes up with. <br><br>In many chapters, the clubhouse offers the first post-run beer for free – a simple tradition that sets the tone for socializing and community after the run. Once you have held your First Saturday run, please tag @Mikkellerrunningclub on social media – and we will share the tradition with the global community. Usually, it also means that at some point you’ll get a guest from another chapter. First Saturday is not just a run – it’s the shared tradition that ties all MRC chapters together.

    </p>
  </div>
  </div>
</section>

<div class="two-columns">
<div>
  <h2 class="no-top-margin">INTERNATIONAL
COMMUNITY TOURS</h2>

<img class="shoes-img" src="/img/shoes-figur.png" alt="shoes figur">
</div>

<div>
<p>We want to meet you in real life, and thats why we encourage everyone to travel to meet the MRC community. So if you are traveling solo, join the chapters practice, or even better join our group tours. MRC has travelled all around the world, from North Korea and Turkmenistan to Berlin and Copenhagen.  We frequently arrange tours, and are always present when Mikkeller are arranging their beer festivals -  we hope you will join one of them in the future.</p>
</div>
</div>




  
</PageContainer>

</Layout>

<style>

.no-top-margin {
  margin-top: 0;}
 img {
  max-width: 15%;
  margin: 6rem auto 0; /* top 10rem, auto på venstre og højre = centreret */
  display: block;       /* vigtigt, ellers virker auto margin ikke */
}

.shoes-img {
  max-width: 25%; /* ændrer størrelsen */
  height: auto;   /* bevarer proportionerne */
  display: block;
  margin: 2rem auto 0; /* centrerer med margin-top */
  margin-top: 5rem;
}
</style>

