---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Merch";
const currentPage = "merch";
---

<Layout {title} {currentPage}>
   <PageHeader pageNumber="09" heading="Merch" />
    <PageContainer>
   <SectionIntro
    text="At Mikkeller Running Club, we love when our runners show their MRC spirit by representing us in their merch. To keep a consistent and recognizable identity across all global chapters, it’s important that everyone follows our shared merch guidelines."
  />
<h2>Merch Guidelines</h2>
  <div class="two-columns">
    <div>
    <h3>1. Do not print clothes yourself</h3>
    <p>
     To ensure quality and visual consistency, chapters are not allowed to produce or print their own merch locally. All official production must go through MRC or approved suppliers.
    </p>
    </div>

    <div>
      <h3>2. Merch is not for sale</h3>
    <p>
     Chapters may produce merch for internal sharing, but it must never be sold commercially.  Merch is for your runners – not for profit.
    </p>
    </div>
    
    <div>
      <h3>3. only use your approved logo</h3>
      <p>
        If your chapter has its own local logo, you may use it on merch, but only for sharing within your chapter. <br> All logos must be approved by MRC before being used on any physical materials.
      </p>
    </div>
    <div>
    <h3> 4. We will provide materials</h3>
    <p>
     When you start or update your chapter, MRC will send a selection of approved merch templates and files, so you can use them directly without compromising the visual identity.
    </p>
    </div>
  </div>


<div class="grid_1_1_1">

  <img src="/img/logo-medium.png" alt="MRC Logo Example" />
        <img src="/img/merch-tee.png" alt="MRC Logo Example" />
        <img src="/img/merch-shorts.png" alt="MRC Logo Example" />
      
      
</div>



</PageContainer>
</Layout>

<style>

  h2{margin-bottom: 3rem;}
  h3 {
    margin-top: 1rem;
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }

 .grid_1_1_1 img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin-top: 4rem;
}



</style>