---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Photography";
const currentPage = "photography";
---

<Layout {title} {currentPage}>
<PageHeader pageNumber="10" heading="Photography" />
  <PageContainer>
   <SectionIntro
    text="We would love for you to capture great group and running photos. Here are some tips to help ensure your photos look their best."
  />

<h2>Guidelines</h2>
    <ol class="two-columns">
  <li>
    Make sure everyone fits in the frame. Half-cropped group shots and selfies don’t look good 
    when shared. Take a step back and make sure the whole group is included.
  </li>

  <li>
    Use a good quality camera or phone. We don’t expect professional photography, but a little 
    effort goes a long way in making sure the photos look great.
  </li>

  <li>
    Aim for quality over quantity. We don’t want to post something just for the sake of it – 
    our goal is for every chapter’s feed to look attractive and consistent.
  </li>

  <li>
    Check photo resolution and size. If collecting photos from different people, make sure they 
    are high resolution. Avoid mixing photos from many different devices with very different 
    quality levels, as this doesn’t look good on social media.
  </li>

  <li>
    Share photos without losing quality. If you’re gathering pictures, please use Airdrop 
    (iPhone) or WeTransfer. Sending photos via SMS, Messenger, or WhatsApp often reduces 
    the quality significantly.
  </li>

  <li>
    Don’t forget post-run moments. When taking photos of each other enjoying beers after the run, 
    make sure they’re captured from good angles and with a bit of care – these moments are just 
    as important as the running shots.
  </li>
</ol>



</PageContainer>
</Layout>