---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionIntro from "../components/SectionIntro.astro";
import PageContainer from "../components/PageContainer.astro";

const title = "Social Media";
const currentPage = "social-media";
---

<Layout {title} {currentPage}>
  <PageHeader pageNumber="08" heading="Social\nMedia" />
   <PageContainer>
   <SectionIntro
    text="Social media helps us share the spirit of MRC with the world. To keep our community consistent and recognisable, please follow these simple guidelines when you post."
  />
<h2>Guidelines</h2>
 <div class="two-columns">
    <p>
      To increase our overall presence and engagement, we encourage everyone to be active on social media. Please create the following profiles and share the links with us: <br>
       <span class="bold-text">Facebook</span> <br>
       <span class="bold-text">Instagram</span> <br>

These platforms help us communicate updates, present activities, and engage with our community. <br><br>To ensure clear communication and easy access to important details, please make sure the following elements are visible and up to date. <br><br> As a craft beer–based community, we take our communication seriously. We do not allow content that: <br><br>
       <span class="bold-text">- Targets or demeans minorities </span> <br>
        <span class="bold-text">- Includes sexual, pornographic, or suggestive material</span> <br>
         <span class="bold-text">- Content promoting external products, events, or brands without prior approval  </span> <br>
          <span class="bold-text">- Posts that are repetitive, irrelevant, or automated</span> <br>  



    </p>

    <p>

      <span class="bold-text"> FAQ About MRC</span> <br>  
     
You should include an accessible FAQ section where new and existing members can quickly find answers to common questions about MRC. You can find the FAQ here: [insert link] <br><br>


<span class="bold-text">Weekly Practice Schedule</span> <br>  

Make sure your weekly practice details are clearly displayed, including: <br>
<span class="bold-text">Practice times</span> <br>  
<span class="bold-text">Teams/groups</span> <br>  
<span class="bold-text">Meeting point/location</span> <br>  
    </p>
  </div>



  <div class="grey_box">
  <h2>MRC app</h2>
  <div class="two-columns">
    <p>
     The Mikkeller Running Club app is the digital home for our global community. It’s where runners, captains, and chapters stay connected – across cities, countries, and time zones. The purpose of the app is simple: to make it easy to find your local runs, discover other chapters when you travel, and keep MRC traditions alive everywhere. <br><br>Through the MRC app, you can explore chapters all around the world and discover where you can join runs across the globe. The app also keeps you updated on upcoming runs and events — from First Saturdays to weekly trainings and special occasions. <br><br>Your digital membership card is always at hand, giving you access to MRC benefits such as discounts at Mikkeller bars. Beyond the practical features, the app is also a source of inspiration, where you can see photos, news, and updates from other chapters and get a real sense of the global MRC spirit.
    </p>
    
    <p>
   Captains have the responsibility to keep all chapter information updated and accurate in the app. Keeping your chapter information fresh ensures that both local members and visiting runners feel welcome and informed. This includes things like training times and meeting points, photos and updates from recent runs, local events, and any news related to the chapter. It’s a space where members can stay informed, share experiences, and keep the community spirit alive. <br><br>All of this can be managed through the APP platform: <span class="bold-text">mikkeller.myloyal.com</span>  (If you can’t log in, please contact: appsupport@mikkeller.com)

    </p>
  </div>
  </div>








</PageContainer>
</Layout>