sectionintro

---
const { text = "" } = Astro.props;
---

<style>
  .section-intro {
    margin-top: 96px; 
  }

  .section-intro__heading {
    text-transform: uppercase;
    margin: 0;
  }

  /* STREGEN – skal gå kant til kant */
  .section-intro__line {
    margin-top: 96px;
    height: 1px;
    width: calc(100% + 160px);     /* 80px + 80px */
    margin-left: -80px;            /* trækker ud til venstre */
    margin-right: -200px;           /* trækker ud til højre */
    background-color: var(--primaer-clr);
  }

  @media (max-width: 800px) {
    .section-intro__line {
      width: calc(100% + 80px);    /* 40px + 40px */
      margin-left: -40px;
      margin-right: -40px;
    }
  }
</style>

<section class="section-intro">
  <h2 class="section-intro__heading">{text}</h2>
  <div class="section-intro__line"></div>
</section>


